<app-header></app-header>

<div class="wrapper">
  <form class="form-signin">       
    <h3 class="form-signin-heading">Registro</h3>
    <input type="text" class="form-control" #email placeholder="Email" required>
    <input type="password" class="form-control" #password placeholder="Contraseña" required>
    <input type="password" class="form-control" #password2 placeholder="Confirma contraseña" required>
    <button type="button" class="btn btn-lg btn-primary btn-block boton" (click)="authenticationService.SignUp(email.value, password.value)">Registrarse</button>   
  </form>
</div>

<app-footer></app-footer>