<nav id="scanfcode" class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="logo" class="navbar-brand" routerLink="../inicio"><img src="../../../assets/Logo.png" class="barimg"> Tienda Variada Online</a>
    </div>
    <div>
      <div *ngIf="!logged" class="logginBtn">
        <div style=" margin-left: 10px; padding-top: -20px;"><a style="color:white !important;" class="navbar-brand" routerLink="../login">Iniciar Sesión</a>/ <a style="color:white !important;" class="navbar-brand" routerLink="../registro">Registrarse</a></div></div>
      <div *ngIf="logged" class="logginBtn navbar-brand">
        <a style="color:white !important;"><i class="fas fa-user-circle fa-2x usuarioIcon" style="margin-right: 10px;"></i>Bienvenido {{usuario}}<br></a>
        <a routerLink="../inicio" class="navbar-brand"(click)="signOut()" style="color: rgb(201, 201, 201) !important; float: right;">Cerrar sesión</a>
      </div>
    </div>
  </div>
</nav>
            
<nav class="navbar navbar-expand-md navbar-dark SubBarra">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="" routerLinkActive="active">Inicio</a>
      <a class="nav-item nav-link" routerLink="" routerLinkActive="">registro</a>
      <a class="nav-item nav-link" routerLink="" routerLinkActive="">login</a>
      <a class="nav-item nav-link" routerLink="" routerLinkActive="">Carrito</a>
      <a class="nav-item nav-link" routerLink="" routerLinkActive="">Avisos</a>
      <a class="nav-item nav-link" routerLink="" routerLinkActive="">Favoritos</a>
    </div>
</nav>
