.cont{
    width: 100%;
    background-color: #e5f1fc;
    padding: 10px;
}
.bannerText{
    background-color: rgba($color: (#000000), $alpha: 0.7);
    border-radius: 5px;
}
.carousel{
    margin: 20px;
}
.botonAn{
    background-color: #4E5E6B;
    border: none;
}
.tarjetaCat{
    border-radius: 20px;
    margin: 30px;
    background-color: rgba($color: (#000000), $alpha: 0.5);
    cursor: pointer;
}
.tarjetaCat:hover{
    background-color: rgba($color: (#000000), $alpha: 0.2);
}
.titleCardCat{
    background-color: rgba($color: (#000000), $alpha: 0.7);
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;
}