<!-- Footer -->
<footer class="page-footer font-small color1 pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Tienda variada online</h5>
        <p>Venta de productos de la mejor calidad al mejor precio, con sucursales en todo México y el medio oriente.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Compañia</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Blog</a>
          </li>
          <li>
            <a href="#!">Contactanos</a>
          </li>
          <li>
            <a href="#!">Hola</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Redes sociales</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Facebook</a>
          </li>
          <li>
            <a href="#!">Twitter</a>
          </li>
          <li>
            <a href="#!">Instagram</a>
          </li>
          <li>
            <a href="#!">Fotolog</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 color2">Esta página es solo con fines educativos / This site is for educational purposes only.
    <a href="https://github.com/yt992j"> github.com/yt992j</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->