<app-header></app-header>

<div *ngIf="productosList.length > 0" class="container contenedorF">
    <div class="row"><div class="col-sm-12" style="background-color: rgb(242, 252, 253); font-weight: 500; color:rgb(50, 122, 255);"><{{productosList[0].category}}</div></div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-sm-5" align="center">
            <img src={{productosList[0].urlImg}} style="height: 300px; width: auto; border-radius: 5px;">
        </div>
        <div class="col-sm-6" style="border-radius: 5px; border: 1px solid #d8d8d8; padding-left: 50px;">
            <div style="font-size: 10px; color: #525252;">Nuevo</div>
            <div style="font-size: 30px; color: #353535; font-weight: 700;">{{productosList[0].name}}</div>
            <div style="font-size: 40px; color: #525252;">${{productosList[0].price}}</div>
            <div style="font-size: 15px; color: #2f8000;">Disponibles: {{productosList[0].availability}}</div>
            <div style="margin-top: 10px;">Cantidad: </div>
            <div><input type="number" style="margin-top: 5px; border-radius: 4px;width: 200px;" min="1" [(ngModel)]="cantidad"></div>
            <div><button class="btn btn-primary" style="border-radius: 3px; margin-top: 10px; width: 200px;" [disabled]="cantidad > productosList[0].availability" (click)="agregarcarrito()">Agregar al carrito</button></div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px; padding: 30px;">
        <div style="font-size: 30px; color: #333333; border-top:1px solid #d8d8d8; width: 100%;">Descripción: </div>
        <div class="col-sm-12" style="font-weight: 500; color:rgb(94, 94, 94);font-size: 25px; color: #646464;">
            {{productosList[0].descripcion}}
        </div>
    </div>

</div>

<app-footer></app-footer>